<div class="medication center-block jumbotron">
  <h1>Prescription Form</h1>
  <form role="form" (submit)="prescribe($event, username.value, paracetamol.value, panadol.value)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="paracetamol">Paracetamol</label>
    <input type="int" #paracetamol class="form-control" id="paracetamol" placeholder="Dosage of Paracetamol">
  </div>
  <div class="form-group">
    <label for="panadol">Panadol</label>
    <input type="int" #panadol class="form-control" id="panadol" placeholder="Dosage of Panadol">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
